$(start_block_header)
/*
 typedef struct {
     const uint$(img_data_block_size)_t *data;
     uint16_t width;
     uint16_t height;
     uint8_t dataSize;
     } bitmap_t;
 typedef struct {
     int length;
     const bitmap_t *chars;
     } font_bitmap_t;
*/

#include <stdint.h>
$(end_block_header)

$(start_block_images_table)
static const uint$(img_data_block_size)_t image_data_$(doc_name_ws)_0x$(out_char_code)[$(out_blocks_count)] = {
    $(out_image_data)
};
static const bitmap_t $(doc_name_ws)_0x$(out_char_code) = { image_data_$(doc_name_ws)_0x$(out_char_code),
    $(out_image_width), $(out_image_height), $(img_data_block_size)};
$(end_block_images_table)

static const char_bitmap_t $(doc_name_ws)_array[] = {
$(start_block_images_table)
  // character: '$(out_char_text)'
  &$(doc_name_ws)_0x$(out_char_code)$(out_comma)
$(end_block_images_table)
};

$(start_block_font_def)
const font_bitmap_t $(doc_name_ws) = { $(out_images_count), $(doc_name_ws)_array };
$(end_block_font_def)
